{% extends 'base.html' %}

{% block content %}

<form action="{% url 'search_event' %}" method="get">
    {% csrf_token %}
  <input type="text" name="uuid" placeholder="Enter UUID">
  <button type="submit">Search</button>
</form>

{% if page_obj %}

{% for event in page_obj %}
  <h1>{{ event.name }}</h1>
  <img src="{{ event.image.url }}" alt="Event Image" width="100" height="100">
  <h2>{{ event.uid }}</h2>
  <a href="{% url 'delete_event' event.id %}" method="post">
    <button>Delete</button>
  </a>
{% endfor %}
<br>
<br>
<br>
<a href="{% url 'add_event_view' %}">
    <button>Create new event</button>
</a>

<br>
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">current page {{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}

<h1>No events</h1>

{% endif %}

{% endblock %}
